body {
	margin: 0;
	overflow: hidden;
}

.searchSection {
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	height: 100vh;
	left: 0;
	position: fixed;
	top: 0;
	transition: height 500ms;
	width: 100%;
}
.searchSection-title {
	font-size: 50px;
	height: 50px;
	line-height: 50px;
	margin: 0;
	position: fixed;
	text-align: center;
	transform: translate(calc(50vw - 200px / 2), calc(50vh - 50px));
	transition: transform 500ms;
	width: 200px;
}
.searchSection-form {
	height: 50px;
	line-height: 50px;
	position: fixed;
	text-align: center;
	transition: transform 500ms;
	transform: translate(calc(50vw - 400px / 2), calc(50vh));
	width: 400px;
}
.searchSection-searchInput {
	font-size: 20px;
	vertical-align: middle;
	width: 300px;
}
.searchSection-searchButton {
	font-size: 20px;
	vertical-align: middle;
	width: 100px;
}

body.is-showingResult {
	overflow: auto;
}
body.is-showingResult .searchSection {
	height: 60px;
}
body.is-showingResult .searchSection-title {
	transform: translate(0, 0);
	transform-origin: left top;
}
body.is-showingResult .searchSection-form {
	transform: translate(200px, 0);
}

body.is-showingResult .searchSection.is-minimized {
	height: 30px;
}
body.is-showingResult .searchSection.is-minimized .searchSection-title {
	transform: scale(0.5);
}
body.is-showingResult .searchSection.is-minimized .searchSection-form {
	transform: scale(0.5) translate(0,-20px);
}

.searchResult {
	max-width: 800px;
	margin: 80px auto 0;
}

.loadingBlock {
	position: relative;
	margin: 0 auto;
	width: 50px;
}
.loadingBlock-star {
	animation: rolling 1000ms infinite;
	display: inline-block;
	height: 50px;
	left: 0;
	position: absolute;
	text-align: center;
	top: 0;
	width: 50px;
}
.loadingBlock-star:nth-child(1) {
	animation-delay: 100ms;
	opacity: 0.5;
}
.loadingBlock-star:nth-child(2) {
	animation-delay: 200ms;
	opacity: 0.3;
}
@keyframes rolling {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.searchResult-listItem {
	margin-bottom: 1em;
}
.searchResult-title {
	text-decoration: none;
}
.searchResult-title:hover {
	text-decoration: underline;
}
.searchResult-url {
	color: #090;
}
